

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  
}

.main_h {
  position: relative;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
  @include small {
    padding-top: 25px;
  }
}

h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.circular{
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin: 10px 0px 0px 100px;
}

@media screen and (max-width:320px){
  body{
    width: 100%;

  }
  .container{
    font-size: 10px;
    width: 100%;
  }
  .panel{
    font-size: 10px;
    width: 100%;
  }

}





/*prallax beginning*/

.panel { /*basically keeps the 'slide' or image in place*/
  position: relative; /*making this 'fixed' breaks everything*/
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit; /*renders it in a 3D space*/
  font-size: 20px;
}


.panel:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {

  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  
}

.panel:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.panel:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.panel, .panel:before {
  background: 50% 50% / cover;  
}

.top {
  text-align: center;
  font-size: 175%;
  color: #fff;


}

#title {
   background-image: url("https://s3.amazonaws.com/ooomf-com-files/Vo7YbYQQ8iyOo4J9bOoj_ggb24.jpg");
   background-attachment: fixed;
}

#panel1:before {
  background-image: url("https://s3.amazonaws.com/ooomf-com-files/Vo7YbYQQ8iyOo4J9bOoj_ggb24.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
  background-color: white;
}

#panel2 {
  background-image: url("https://s3.amazonaws.com/ooomf-com-files/xKNCBEgSTUGbgBoYgJ90_Skyline.jpg");
  background-attachment: fixed; /*keeps image stationary*/
}

#panel3:before {
  background-image: url("");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#panel4 {
  background: #222;
}

/*parallax end*/

#name{
  background: rgba(200, 200, 200, 0.6);
  text-align: block;
  text-align: center;
  font-size: 72px;
  height: 80px;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 100px 0px;
}

/*scroll bar stuff*/
/*body::-webkit-scrollbar {
    width: 0.8em;
    background: rgba(200, 200, 200, 0.2);
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0 , 1.0);
    
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0px solid slategrey;
    border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;

}*/

/*sticky nav start*/

/*sticky nav end*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


nav {
  max-width: 100%;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
  margin: 0px 0px 0px 0px;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  text-transform: uppercase;
  color: black;
  font-size: 22px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}




#carousel-example-generic{
  height: 100%;
  width: 100%;

}