body{
	background-color:white;
	background-image: url(../Images/GoldenGate.jpg) no-repeat center center fixed;
	background-size: 100%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
#Name{
	background-color: #E6E6E6;
	height: 80px;
	margin: 250px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 72px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	box-sizing: border-box;
	opacity: 1.0;
	
}
#PicMe{
	background-color: white;	
	height: 600px;
	border-width: 20px;
	border-color: #1A0000;
	border-style: solid;
}

#About{
	background-color: #E6E6E6;
	height: 600px;
	font-size: 32px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 20px 0px 20px 0px;
	padding: 20px 20px 20px 20px;
}
#Pictures{
	background-color: #E6E6E6;
	height: 600px;
	margin: 20px 0px 20px 0px;
	padding: 20px 20px 20px 20px;
	opacity: 0.8;
}