

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.circular{
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin: 10px 0px 0px 100px;
}



/*prallax beginning*/

.slide { /*basically keeps the 'slide' or image in place*/
  position: relative; /*making this 'fixed' breaks everything*/
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit; /*renders it in a 3D space*/
  font-size: 20px;
}


.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {

  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;


}

#title {
   background-image: url("https://s3.amazonaws.com/ooomf-com-files/Vo7YbYQQ8iyOo4J9bOoj_ggb24.jpg");
   background-attachment: fixed;
}

#slide1:before {
  background-image: url("https://s3.amazonaws.com/ooomf-com-files/Vo7YbYQQ8iyOo4J9bOoj_ggb24.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
  background-color: white;
}

#slide2 {
  background-image: url("https://s3.amazonaws.com/ooomf-com-files/xKNCBEgSTUGbgBoYgJ90_Skyline.jpg");
  background-attachment: fixed; /*keeps image stationary*/
}

#slide3:before {
  background-image: url("");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}

/*parallax end*/

#name{
  background: rgba(200, 200, 200, 0.6);
  text-align: block;
  text-align: center;
  font-size: 72px;
  height: 80px;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 100px 0px;
}

/*scroll bar stuff*/
body::-webkit-scrollbar {
    width: 0.8em;
    background: rgba(200, 200, 200, 0.2);
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0 , 1.0);
    
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0px solid slategrey;
    border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;

}

/*sticky nav start*/

/*sticky nav end*/